<p id="notice"><%= notice %></p>

<p>
  <strong>Year:</strong>
  <%= @firework_year.year %>
</p>

<%= link_to 'Edit', edit_firework_year_path(@firework_year) %> |
<%= link_to 'Back', firework_years_path %>
