<p id="notice"><%= notice %></p>

<p>
  <strong>Comment:</strong>
  <%= @firework_comment.comment %>
</p>

<%= link_to 'Edit', edit_firework_comment_path(@firework_comment) %> |
<%= link_to 'Back', firework_comments_path %>
